<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[Practice] Mybrary</title>
</head>
<body>
    Before
    <br>
    <%- body %>     <!-- including all of our pages -->
    <br>
    After
</body>
</html>